<% if @presenter.doctor_appointments %>
  <div class="tab-pane" id="3a">
    <div class="row">
      <div class="col-md-12">
        <h1>My Appointments</h1>
        <table class="table">
          <thead class="posts_head">
            <tr>
              <th>Doctor</th>
              <th>Patient</th>
              <th>Date</th>
              <th>Notes</th>
              <th colspan="3"></th>
            </tr>
          </thead>
         <tbody class="posts_body">
           <% @presenter.doctor_appointments.each do |appointment| %>
             <tr>
               <td><%= appointment.doctor.first_name %></td>
               <td><%= link_to "#{appointment.patient.first_name} #{appointment.patient.last_name}", patient_path(appointment.patient) %></td>
               <td><%= appointment.date %></td>
               <td><%= appointment.notes %></td>
               <td><%= link_to 'Show', appointment %></td>
               <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
               <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
             </tr>
           <% end %>
         </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
