<%= simple_form_for @patient, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean,
    date: :horizontal_form
  } do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :first_name%>
  <%= f.input :last_name %>
  <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                                end_year: Date.today.year - 12,
                                order: [:day, :month, :year] %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :notes %>
  <%= f.input :allergies %>
  <%= f.button :submit %>
  <br>

<% end %>


