<%= flash_messages %>
<div id="content_head">
  <div id="ch-title">
    <h1><%= @patient.first_name.titleize %> <%= @patient.last_name.titleize %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3 col-lg-3 "> <img alt="User Pic" src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" class="img-circle img-responsive"> </div>
    <div class=" col-md-9 col-lg-9 ">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <strong>Date of birth</strong>
            </td>
            <td><%= @patient.date_of_birth %></td>
          </tr>

          <tr>
            <td>
              <strong>Address</strong>
            </td>
            <td>
              <%= @patient.address %>
            </td>
          </tr>

          <tr>
            <td>
              <strong>Phone number:</strong>
            </td>
            <td>
              <%= @patient.phone_number %>
            </td>
          </tr>

          <tr>
            <td>
              <strong>Notes:</strong>
            </td>
            <td>
              <%= @patient.notes %>
            </td>
          </tr>

          <tr>
            <td>
              <strong>Allergies:</strong>
            </td>
            <td>
              <%= @patient.allergies %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <a href="<%= edit_patient_path(@patient) %>" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
      <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, patient_path(@patient), data: {:confirm => 'Are you sure?'}, :method => :delete %>
    </div>
    <% if current_user.doctor.present? %>
      <%= link_to "Add Condition", new_patient_condition_path(:patient_id => @patient.id, :doctor_id => current_user.doctor.id), class: "btn btn-primary" %>
      <%= link_to "Add Appointment", new_appointment_path(:patient_id => @patient.id, :doctor_id => current_user.doctor.id), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render 'partials/patient_conditions/current_conditions' %>
<%= render 'partials/patient_conditions/past_conditions' %>
<%= render 'partials/appointments/future_appointments' %>

<script type="text/javascript">
  function cure(id) {
    console.log("Here");
    const sendpoint = `<%= request.base_url %>/patient_condition/${id}/cure`;
    console.log(sendpoint);
    $.ajax({ url: sendpoint,
      type: 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      success: function(response) {
      }
    });
  }
</script>
