
<div id="tab" class="container">
<ul  class="nav nav-pills">
      <% if @doctor_open_conditions %>
        <li class="active">
          <a  href="#1a" data-toggle="tab">My Open Conditions</a>
        </li>
      <% end %>
      <% if @doctor_closed_conditions %>
        <li>
          <a href="#2a" data-toggle="tab">My Past Conditions</a>
        </li>
      <% end %>
      <% if @doctor_appointments %>
        <li>
          <a href="#3a" data-toggle="tab">My Appointments</a>
        </li>
      <% end %>
      <% if @open_conditions %>
        <li>
          <a  href="#4a" data-toggle="tab">All Open Conditions</a>
        </li>
      <% end %>
      <% if @closed_conditions %>
        <li>
          <a href="#5a" data-toggle="tab">All Past Conditions</a>
        </li>
      <% end %>
      <% if @appointments %>
        <li>
          <a href="#6a" data-toggle="tab">All Appointments</a>
        </li>
      <% end %>
    </ul>
      <div class="tab-content clearfix">
        <%= render 'partials/reports/doctor_open_conditions' %>
        <%= render 'partials/reports/doctor_closed_conditions' %>
        <%= render 'partials/reports/doctor_appointments' %>
        <%= render 'partials/reports/open_conditions' %>
        <%= render 'partials/reports/closed_conditions' %>
        <%= render 'partials/reports/appointments' %>
      </div>
  </div>


<script type="text/javascript">
  //Keep open last Tab
  $(function() {
      // for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          // save the latest tab; use cookies if you like 'em better:
          localStorage.setItem('lastTab', $(this).attr('href'));
      });

      // go to the latest tab, if it exists:
      var lastTab = localStorage.getItem('lastTab');
      if (lastTab) {
          $('[href="' + lastTab + '"]').tab('show');
      }
  });
</script>
