<%= render 'partials/header' %>
<%= render 'partials/nav_bar' %>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="<%= patients_path %>" id="patients_menu_item">Patients</a>
      </li>
      <li>
        <a href="<%= icd10s_path %>" id="condtitions_menu_item">ICD10 Conditions</a>
      </li>
      <li>
        <a href="<%= appointments_path %>" id="requests_menu_item">Appointments</a>
      </li>
      <li>
        <a href="/reports" id="requests_menu_item">Reports</a>
      </li>
      <% if current_user.admin? %>
        <li>
          <a href="<%= doctors_path %>" id="doctors_menu_item">Doctors</a>
        </li>
      <% end %>
      <% if current_user.doctor.present? %>
        <li>
          <a href="<%= doctor_path(current_user.doctor.id) %>" id="doctors_menu_item">Profile</a>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</div>

<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $("#toggle_button").toggleClass("toggled");
  });
</script>
